
main.articles .set > div {
    width: calc(50% - 17px);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgb(0 10 24 / 50%);
    margin-bottom: 35px;
    position: relative;
    background: var(--text-bg);
    overflow: hidden;
    padding-bottom: 0;
}
main.articles .set > div .wrap p {
padding: 0;
    width: calc(100% - 150px);
}
main.articles .set > div .showRecipe {
    left: unset;
    right: 0px;
    transform: none;
    top: 0px;
    position: relative;
    margin-bottom: 30px;
}
.articles ul li{
    font-size: 14px;
    color: var(--bg-text);  
}
.articles .container p {
    display: inline-block;
    color: var(--bg-text);
}
.articles .container .showRecipe {
    position: relative;
}
.articles aside > div{
    border-radius: 10px;
    background: var(--text-bg);
    box-shadow: 0px 0px 10px 0px rgb(0 10 24 / 18%);
    transition: transform 1s;
}
.articles aside > div:hover {transform: scale(0.95);}
.articles aside > div .wrap{
    padding: 10px;
}
.article_illustration {
    text-align: center;
    max-height: 440px;
    overflow: hidden;
}
.article_illustration img {

    width: 100%;
}
.read .container {
    display: flex;
}
.article_block {
    width: 75%;
    padding-bottom: 50px;
}
aside {
    width: 25%;
    margin-left: 30px;
    float: right;
    overflow: hidden;
}

aside > div {
    margin-bottom: 30px;
}
aside .img {
    border-radius: 10px 10px 0 0;
    max-height: 200px;
    overflow: hidden;
}
aside img {
    width: 100%;
}
aside h3{
    width: 100%;
    text-align: center;
}
.article_block p {
    margin: 15px 0px 0px;
    display: block;
}
.article_block h3 {
    color: var(--main);
    margin: 30px 0 0;

}
aside .showRecipe {
    left: unset;
    right: unset;
    transform: none;
    position: relative;
    display: block;
    width: fit-content;
    margin: 15px auto 30px;
    padding: 7px 10px;
    border-radius: 20px;
    color: var(--text-bg);
    transition: 1s;
    background-image: linear-gradient(
        to right,
        var(--accent2),
        var(--accent1),
        var(--accent1),
        var(--main)
      );
      background-size: 300% 100%;
      box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
}
aside .showRecipe:hover {
    text-decoration: none;
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
aside .showRecipe:before {
    content: '';
    bottom: -3px;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    height: 2px;
    background: var(--main);
    display: block;
    transition: 1s;

}
aside .showRecipe:hover:before{
    /*background: var(--accent1);
    width: 100%;*/
}


@media screen and (max-width: 980px){
    main.articles .set > div {
        width: 100%;
    }


    main.articles .set > div .wrap p {
        padding: 0;
        width: unset;
    }
}
@media screen and (max-width: 640px){
    main.articles .set > div .showRecipe {
        display: block;
        right: unset;
        transform: none;
        position: relative;
        margin-top: 30px;
        left: 0;
        width: fit-content;
    }
    .read .container {
        flex-direction: column;
    }
    .article_block {
        width: 100%;
    }
    aside {
        width: 100%;
        margin: 0;
    }
    aside > div {
        width:100%;
        overflow: hidden;
    }
    aside .img {
        max-height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 425px){
    .articles ul li{
        display: block;
    }
}
